<nav class="sticky top-0 z-50 w-full bg-slate-900/80 backdrop-blur-md border-b border-slate-800 px-6 py-4">
  <div class="max-w-6xl mx-auto flex items-center justify-between">

    <!-- LOGO -->
    <div class="flex items-center gap-2 cursor-pointer group" routerLink="/">
      <span
        class="text-2xl bg-linear-to-r from-cyan-400 to-purple-500 bg-clip-text text-transparent font-black tracking-wider group-hover:opacity-90 transition">
        ASTROLOG
      </span>
      <!-- <span class="text-lg animate-pulse">✨</span> -->
    </div>

    <!-- LINKS DA NAVBAR (DINÂMICOS E SUBUNHADOS) -->
    <div class="flex items-center gap-6 text-sm font-medium text-slate-400">

      <!-- Link para Trânsitos (Home) -->
      <a routerLink="/" routerLinkActive="text-cyan-400 border-b-2 border-cyan-400"
        [routerLinkActiveOptions]="{ exact: true }" class="hover:text-slate-200 transition pb-1 px-1 cursor-pointer">
        Trânsitos
      </a>

      <!-- Link para Sobre -->
      <a routerLink="/about" routerLinkActive="text-cyan-400 border-b-2 border-cyan-400"
        class="hover:text-slate-200 transition pb-1 px-1 cursor-pointer">
        Sobre
      </a>
    </div>

  </div>
</nav>